@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap'); /* Example font import */

.animated-text {
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 9rem;  /* Adjust size to match the image */
  color: #ffffff;  /* Adjust color to match the image */
  font-weight: 700;
  line-height: 1.1;  /* Adjust line-height for spacing between lines */
  letter-spacing: 0.1em;  /* Adjust letter spacing */
  text-align: center;  /* Center the text */
  animation: fadeInOut 5s infinite;  /* Animation */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* App.css */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;  /* Prevent scrollbars if the canvas overflows */
  width: 100%;
  height: 100%;
}


